<div class="wrapper">
  <fieldset>
    <legend>Список книг</legend>
    <input [(ngModel)]="bookName" (input)="getBookList()" placeholder="Поиск..." class="form-control"/>
    <table *ngIf="bookList">
      <thead>
        <tr>
          <th>№</th>
          <th>Название</th>
          <th></th>
        </tr>
      </thead>
      <tbody *ngIf="bookList.length > 0">
        <tr *ngFor="let book of bookList; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ book.bookName }}</td>
          <td>
            <button *ngIf="book.lnkId==null" class="btn btn-primary" (click)="addBook(book.bookId)">+</button>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="bookList.length == 0">
        <tr>
          <td colspan="3">Список пуст</td>
        </tr>
      </tbody>
    </table>
  </fieldset>
</div>
