<div class="wrapper">
  <input [(ngModel)]="bookName" (input)="getBookList()" />
  <table aria-labelledby="tableLabel" *ngIf="bookList">
    <thead>
      <tr>
        <th>№</th>
        <th>Название</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of bookList; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ book.bookName }}</td>
        <td>
          <button *ngIf="book.lnkId==null" class="btn-primary btn-primary" (click)="addBook(book.bookId)">+</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
